<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Socket.IO chat</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div id="drop">
      <span id="title">&lt; Drag and drop a file here &gt;</span>
      <canvas id="anim" />
    </div><br>
    <ul id="files">
      <li id="title">Your files will appear here</li>
    </ul>
    <script src="/socket.js"></script>
    <script src="/room.js"></script>
  </body>
</html>
