* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 13px Helvetica, Arial;
  margin: 2em;
}

#files {
  padding: 0;
  width: 80%;
  margin: auto;
  border: solid black 2px;
  border-collapse: collapse;
}

#files tr {
  padding: 5px 10px;
}

#files th {
  padding: 5px 10px;
  border-bottom: 2px solid #000000;
}

#files th #date {
  width: 20%;
}

#files td {
  padding: 5px 10px;

  /*   border: 2px solid #000000; */
}

#files tr#fname {
  font-weight: bold;
}

#files tr:nth-child(odd) {
  background: #eee;
}

#message {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 2px;
  border: solid black 2px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  #message {
    flex-direction: column;
  }
}

#submit {
  background: #eee;
  border: none;
  border-radius: 2px;
  padding: 2px;
  flex-grow: 1;
  margin: 5px;
}

#input {
  flex-grow: 9;
  margin: 5px;
}

#drop {
  height: 20em;
  width: 80%;
  background: black;
  margin: auto;
  position: relative;
  perspective: 1200px;
}

#drop::before,
#drop::after {
  content: "";
  position: absolute;
  background: lightgray;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.5, -0.5, 0.5, 1.5);
  transform-origin: top left;
  transform-style: preserve-3d;
  z-index: 1000;
}

#drop::after {
  top: 50%;
  transform-origin: bottom left;
}

#drop.hover::before {
  top: 0;
  transform: rotateX(-90deg);
}

#drop.hover::after {
  top: 50%;
  transform: rotateX(90deg);
}

#drop #title {
  position: absolute;
  color: black;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#drop.hover #title {
  opacity: 0;
}

#input {
  border: none;
  outline: none;
  border-bottom: 2px solid #9b9b9b;
  transition: border-color 0.2s;
}

#input::placeholder {
  display: block;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}

#input:focus {
  border-color: #000;
}

#input:focus::placeholder {
  color:#000;
}

#input:required,
#input:invalid {
  box-shadow: none;
}

.dots:after {
  animation: loading 0.6s infinite linear;
  content:' .';
}

@keyframes loading {
  0%{content:''}
  33%{content:'.'}
  66%{content:'..'}
  100%{content:'...'}
}